#content > .section:first-child {
    padding-top: 0;
}

.section {
    .clearfix();
    padding: @box-margin 0;
    &.indent {
        padding-left: @box-margin;
    }
    &.narrow {
        max-width: @narrow-width;
        margin-left: auto;
        margin-right: auto;
        padding: @box-margin;
        padding-top: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-color: @content-strong-color;
    margin: 0;
}

h1.section {
    font-size: @title-font-size;
    font-weight: 300;
    min-height: @title-font-size + 17px;
    line-height: @title-font-size + 17px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    margin-bottom: @box-margin;

    &.tall {
        margin-bottom: 26px;
    }
}
h2.section {
    padding-top: 0;
    padding-bottom: 0;
    font-size: @box-font-size;
    font-weight: 300;
    margin-top: @box-margin;
    margin-bottom: 9px;
    min-height: @title-font-size + 17px;
    line-height: @title-font-size + 17px;
    &.multiline {
        line-height: auto;
    }
}

table {
    width: 100%;
    tr {
        line-height: 2.5;
    }
    thead {
        
    }
    tbody {
        tr {
            border-bottom: 1px solid @separator-color;
        }
        
    }
    &.section {
        margin: @box-margin 0;
        margin-bottom: 40px;
        padding: @box-margin 0;
    }
}

.header-item {
    padding-top: @box-margin * 2;
    padding-bottom: @box-margin;
}


p {
    margin: @box-margin 0 0 0;
    color: @content-font-color;
    &.box {
        padding: (@box-margin * 2) 0;
        margin: (@box-margin * 2) 0;
        text-align: center;
        color: @content-font-color;
        background-color: @box-highlight-background-color;
        border-color: @box-highlight-background-color;
    }
}
.strong {
    font-weight: bold;
    color: @content-strong-color;
} 
.highlight {
    color: @content-highlight-color;
}

.btn.video-play {
    width: 82px;
    margin: 0;
}

.box-styles() {
    position: relative;
    max-width: @page-width + (@box-margin * 2);
    margin: @box-margin;
    border: 1px solid @separator-color;
    font-size: @box-font-size;

    &.full-width {
        margin: @box-margin 0;
    }
    .top, .bottom {
        position: absolute;
        padding-left: @box-margin * 2;
        padding-right: @box-margin * 2;
    }
    .bottom {
        bottom: @box-margin * 2;
    }
    .top {
        top: @box-margin * 2;
    }
    &.home-box {
        .bottom, .top {
            color: @highlight-font-color;
        }
        .bottom {
            font-weight: 300;
        }
        .top {
            font-size: @nav-font-size;
            letter-spacing: 0.2em;
            font-weight: bold;
            text-transform: uppercase;
            div {
                padding-top: 10px;
            }
        }
    }

    &.video {
        * {
            display: none;
        }
        iframe {
            display: block;
        }
    }
    .center-content {
        position: absolute;
        left: 50%;
        top: 50%;
        .transform(translate(-50%, -50%));
        text-align: center;
        h1 {
            letter-spacing: 0.2em;
            font-size: @box-font-size;
        }
        & > * {
            margin: @box-margin;
            padding: 0;

        }
        &.intro {
            max-width: 246px + (@box-margin * 2);
            text-align: left;
            left: 0;
            .transform(translate(0, -50%));
            padding: 30px;
            font-size: @box-font-size;
            line-height: 42px;
            font-weight: 300;
        }
    }

    &.borderless {
        border: none;
    }
}

.box {
    .box-styles();
    min-height: @button-height;
    margin: @box-margin;
}

.box-50 {
    .box-styles();
    float: left;
    width: (@page-width / 2) - (@box-margin * 2);
    min-width: 320px - (@box-margin * 2);
    padding: (@box-margin + 10px) ((@box-margin * 2) - 2px);
}

.box-33 {
    .box-styles();
    float: left;
    width: (@page-width / 3) - (@box-margin * 2);
    min-width: 320px - (@box-margin * 2);
}


.box-image {
    .box-styles();
    color: @highlight-font-color;
}

.flush-with-top {
    margin-top: 0;
}
.header {
    margin-top: @box-margin;
}
a.box, a.box-50, a.box-33, a.box-image {
    color: @content-strong-color;
    font-weight: 300;
}


.separator {
    color: @separator-content-color;
    a, a:active, a:focus, a:hover {
        color: @separator-content-color;
    }
    font-size: @nav-font-size;
    text-transform: uppercase;
    border: none;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: @separator-color;
        top: 50%;
        left: 0;
        .transform(translateY(-50%));
        z-index: -1;
    }
    position: relative;
    text-align: center;
    padding: (@box-margin + 1px) 0;
    margin: 0 @box-margin;
    .single {
        min-width: 306px;
    }
    & > * {
        display: inline-block;
        background-color: @page-background-color;
        padding: @box-margin;
    }
}

.center {
    text-align: center;
}
.buttons {
    margin: 55px 0 45px 0;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: @nav-font-size;
    .btn {
        text-transform: uppercase;
        margin-left: @box-margin - 2.5px;
        margin-right: @box-margin - 2.5px;
    }
    .section {
        padding: 0;
    }
}

.publication {
    height: 385px;
    .title {
        font-size: @box-font-size;
        font-weight: 300;
        font-color: @content-strong-color;
        display: block;
    }
    .author {
        font-size: @nav-font-size;
        font-weight: bold;
        color: @highlight-color;
        display: block;
        text-transform: uppercase;
        padding-top: 10px;
    }

    .journal {
        font-weight: bold;
        font-style: italic;
        color: @content-strong-color;
        font-size: @nav-font-size + 1px;
        display: inline-block;
        padding-right: 10px;
        line-height: @nav-font-size + 1px;
    }
    .date {
        display: inline-block;
        padding-left: 10px;
        border-left: 1px solid @separator-content-color;
        color: @separator-content-color;
        font-weight: bold;
        font-style: italic;
        font-size: @nav-font-size + 1px;
        line-height: @nav-font-size + 1px;
    }
}
