#content > .section:first-child {
    padding-top: 0;
}

.section {
    .clearfix();
    padding: @box-margin 0;
    &.indent {
        padding-left: @box-margin;
    }
    &.narrow {
        max-width: @narrow-width;
        margin-left: auto;
        margin-right: auto;
        padding: @box-margin;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: @box-margin 0;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    tr {
        line-height: 2.5;
    }
    thead {
        
    }
    tbody {
        tr {
            border-bottom: 1px solid @separator-color;
        }
        
    }
    &.section {
        margin: @box-margin 0;
        padding: @box-margin 0;
    }
}

.header-item {
    padding-bottom: @box-margin * 3;
}


p {
    margin: @box-margin 0 0 0;
    color: @content-font-color;
    &.box {
        padding: (@box-margin * 2) 0;
        margin: (@box-margin * 2) 0;
        text-align: center;
        color: @content-font-color;
        background-color: @box-highlight-background-color;
        border-color: @box-highlight-background-color;
    }
}
.strong {
    font-weight: bold;
    color: @content-strong-color;
} 
.highlight {
    color: @content-highlight-color;
}

.box-styles() {
    position: relative;
    max-width: @page-width + (@box-margin * 2);
    margin: @box-margin;
    border: 1px solid @separator-color;
    font-size: @box-font-size;

    &.full-width {
        margin: @box-margin 0;
    }
    .top, .bottom {
        position: absolute;
        padding-left: @box-margin * 2;
        padding-right: @box-margin * 2;
    }
    .bottom {
        bottom: @box-margin * 2;
    }
    .top {
        top: @box-margin * 2;
    }
    .center-content {
        position: absolute;
        left: 50%;
        top: 50%;
        .transform(translate(-50%, -50%));
        text-align: center;
        h1 {
            font-size: @box-font-size;
        }
        & > * {
            margin: @box-margin;
            padding: 0;

        }
    }

    &.borderless {
        border: none;
    }
}

.box {
    .box-styles();
    min-height: @button-height;
    margin: @box-margin;
}

.box-50 {
    .box-styles();
    float: left;
    width: (@page-width / 2) - (@box-margin * 2);
    min-width: 320px - (@box-margin * 2);
    padding: @box-margin (@box-margin * 2);
}

.box-33 {
    .box-styles();
    float: left;
    width: (@page-width / 3) - (@box-margin * 2);
    min-width: 320px - (@box-margin * 2);
}

.box-image {
    .box-styles();
    color: @highlight-font-color;
    text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.25);
    .btn {
        text-shadow: none;
    }
}

.flush-with-top {
    margin-top: 0;
}
.header {
    margin-top: @box-margin;
}
a.box, a.box-50, a.box-33, a.box-image {
    color: @content-strong-color;
    text-shadow: 0px 0px 1px @content-font-color;
    font-weight: 300;
}


.separator {
    color: @separator-content-color;
    font-size: @nav-font-size;
    text-transform: uppercase;
    border: none;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: @separator-color;
        top: 50%;
        left: 0;
        .transform(translateY(-50%));
        z-index: -1;
    }
    position: relative;
    text-align: center;
    padding: @box-margin 0;
    margin: 0 @box-margin;
    & > * {
        display: inline-block;
        background-color: @page-background-color;
        padding: @box-margin;
    }
}

.center {
    text-align: center;
}
.buttons {
    
}